<section class="cart-second-sec">
  <div>
    <h3>Order Summary</h3>
    <ul class="cart-checkout-content"></ul>
    <ul class="totals-con">
      <li>
        <span>Subtotal:</span>
        <span class="sub-total"></span>
      </li>
      <li>
        <span>Delivery Fee:</span>
        <span class="delivery-fee"></span>
      </li>
      <li>
        <span>Tax Fee:</span>
        <span class="tax-fee"></span>
      </li>
      <li>
        <span>Total:</span>
        <span class="grand-total"></span>
      </li>
    </ul>
    <div>
      <img src="" alt="secure-payment-icon" />
    </div>
    <ul>
      <li>
        <img src="" alt="truck-icon" />
        <p>Same-day Delivery</p>
      </li>
      <li>
        <img src="" alt="flower-icon" />
        <p>Fresh and Beautiful</p>
      </li>
      <li>
        <img src="" alt="with-love-icon" />
        <p>Made with Love</p>
      </li>
    </ul>
    <div>
      <img src="" alt="support-icon" />
    </div>
  </div>
</section>
