<section class="shop-second-sec">
  <div class="left-con">
    <div class="left-top-con">
      <ul>
        <li class="left-category">
          <fieldset>
            <h3 class="category-title">Categories<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="category"
                  value="all-section"
                  checked
                />
                <span class="flower-category">All Bouquets</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Roses</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Lilies</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Tulips</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Mixed Flowers</span>
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category radio-category">
          <fieldset>
            <h3 class="category-title">Occasions<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="occasions"
                  value="all-section"
                  checked
                />
                <span class="checkmark"></span>
                All Occasions
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Birthday
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Anniversary
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Valentine's Day
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Mother's Day
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Get Well Soon
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Thank You
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="checkmark"></span>
                Congratulations
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category">
          <h3 class="category-title">Price Range</h3>
          <div class="price-filter">
            <div class="price-values">
              <span>$<span id="min-value">20</span></span>
              <span>$<span id="max-value">120</span></span>
            </div>
            <div class="range-slider">
              <div class="slider-track"></div>
              <input type="range" id="min-price" min="0" max="200" value="20" />
              <input
                type="range"
                id="max-price"
                min="0"
                max="200"
                value="120"
              />
            </div>
          </div>
        </li>

        <li class="left-category">
          <h3 class="category-title">Color<span>+</span></h3>
          <div class="category-list color-category">
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-color"
                checked
              />
              <span class="checkmark all-color"></span>
            </label>
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-red"
              />
              <span class="checkmark red"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-white"
              />
              <span class="checkmark white"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-pink"
              />
              <span class="checkmark pink"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-black"
              />
              <span class="checkmark black"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-purple"
              />
              <span class="checkmark purple"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-yellow"
              />
              <span class="checkmark yellow"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-orange"
              />
              <span class="checkmark orange"></span>
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="left-bottom-con">
      <img
        src="../../images/index/secondSection/delivery-fast-svgrepo-com.svg"
        alt="delivery-banner"
      />
      <h3>Same-day Delivery</h3>
      <p>Order by 2 PM for same-day delivery in select areas.</p>
      <span>Learn More →</span>
    </div>
  </div>
  <div class="right-con">
    <div class="right-top-con">
      <div class="mobile-filter">
        <button class="filter-btn">Filter</button>
      </div>
      <div class="right-top-con-header">
        <span>Showing 1–12 of 50 results</span>
      </div>
      <div>
        <select name="sort" id="sort">
          <option value="default" selected>Default sorting</option>
          <option value="newest">Newest Arrivals</option>
        </select>
      </div>
    </div>
    <div class="bouquet-con">
      <ul class="flower-grid">
        <li>
          <img
            src="./images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div>
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div>
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination"></div>
    </div>
  </div>
</section>
