<section class="shop-second-sec">
  <div class="left-con">
    <div class="left-top-con">
      <ul>
        <li class="left-category">
          <fieldset>
            <h3 class="category-title">Categories<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="category"
                  value="all-section"
                  checked
                />
                <span class="flower-category">All Bouquets</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Roses</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Lilies</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Tulips</span>
              </label>
              <label>
                <input type="radio" name="category" value="all-section" />
                <span class="flower-category">Mixed Flowers</span>
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category radio-category">
          <fieldset>
            <h3 class="category-title">Occasions<span>+</span></h3>
            <div class="category-list">
              <label>
                <input
                  type="radio"
                  name="occasions"
                  value="all-section"
                  checked
                />
                <span class="ocassion-category">All Occasions</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Birthday</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Anniversary</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Valentine's Day</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Mother's Day</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Get Well Soon</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Thank You</span>
              </label>
              <label>
                <input type="radio" name="occasions" value="all-section" />
                <span class="ocassion-category">Congratulations</span>
              </label>
            </div>
          </fieldset>
        </li>
        <li class="left-category">
          <h3 class="category-title">Price Range<span>+</span></h3>
          <div class="category-list price-filter">
            <div class="price-values">
              <span>$<span id="min-value">20</span></span>
              <span>$<span id="max-value">120</span></span>
            </div>
            <div class="range-slider">
              <div class="slider-track"></div>
              <input
                type="range"
                id="min-price"
                min="0"
                max="200"
                value="20"
                aria-label="min-price"
              />
              <input
                type="range"
                id="max-price"
                min="0"
                max="200"
                value="120"
                aria-label="max-price"
              />
            </div>
          </div>
        </li>

        <li class="left-category">
          <h3 class="category-title">Color<span>+</span></h3>
          <div class="category-list color-category">
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-color"
                aria-label="all-color"
                checked
              />
              <span class="checkmark all-color"></span>
            </label>
            <label class="color-label">
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-red"
                aria-label="all-red"
              />
              <span class="checkmark red"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-white"
                aria-label="all-white"
              />
              <span class="checkmark white"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-pink"
                aria-label="all-pink"
              />
              <span class="checkmark pink"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-black"
                aria-label="all-black"
              />
              <span class="checkmark black"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-purple"
                aria-label="all-purple"
              />
              <span class="checkmark purple"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-yellow"
                aria-label="all-yellow"
              />
              <span class="checkmark yellow"></span>
            </label>
            <label>
              <input
                type="radio"
                name="color"
                value="all-section"
                id="all-orange"
                aria-label="all-orange"
              />
              <span class="checkmark orange"></span>
            </label>
          </div>
        </li>
      </ul>
    </div>
    <div class="left-bottom-con">
      <img
        src="../../images/index/secondSection/delivery-fast-svgrepo-com.svg"
        alt="delivery-banner"
      />
      <h3>Same-day Delivery</h3>
      <p>Order by 2 PM for same-day delivery in select areas.</p>
      <span>Learn More →</span>
    </div>
  </div>
  <div class="right-con">
    <div class="right-top-con">
      <div class="mobile-filter">
        <button class="filter-btn">Filter</button>
      </div>
      <div class="right-top-con-header">
        <span
          >Showing <span class="start-flower-count-per-page">1</span>–<span
            class="end-flower-count-per-page"
            >0</span
          >
          of <span class="total-fowers">0</span> results</span
        >
      </div>
      <div>
        <select name="sort" id="sort" aria-label="Sort products">
          <optgroup label="Sort By">
            <option value="default" selected>Default sorting</option>
            <option value="newest">Newest Arrivals</option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="bouquet-con">
      <ul class="flower-grid">
        <!--
        <li>
          <small class="flower-badge">New</small>
          <img
            src="./images/shop/secondSection/autumn-glow.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Autumn Glow</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-rating"></div>
            <div class="product-price">
              <span class="flower-price">$51<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/berry-bliss.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/blush-romance-2.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/blush-romance.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/citrus-splash.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/classic-white.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/daisy-charm.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/eternal-love.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/garden-bliss.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/golden-hour.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/golden-tulips.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/green-harmony.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/happy-vibes.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/lavender-breeze.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/lavender-dream.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/lily-grace.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/midnight-beauty.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/ocean-breeze.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/ocean-whisper.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/passion-bloom.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/peach-charm.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/peach-dream.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/pink-perfection.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/pure-lily-grace.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/purple-elegance.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/rainbow-joy.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/red-passion.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/snowflake.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/soft-pastel.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/sunny-day.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/sunny-day-2.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/sweet-delight.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/sweetheart.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/timeless-love.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/tulip-delight.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/vibrant-joy.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/white-whisper.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>
        <li>
          <img
            src="../../images/shop/secondSection/wild-flower.png"
            alt="shop-right-bottom-1"
          />
          <div class="flower-info">
            <div class="product-name">
              <h4>Rose Bouquet</h4>
              <img
                src="./images/shop/secondSection/heart-round.svg"
                alt="heart-icon"
                class="flower-heart-icon"
              />
            </div>
            <div class="product-price">
              <span class="flower-price">$29<small>.99</small></span>
              <img
                src="./images/shop/secondSection/cart-square.svg"
                alt="cart-icon"
                class="flower-cart-icon"
              />
            </div>
          </div>
        </li>-->
      </ul>
      <div class="pagination"></div>
    </div>
  </div>
</section>
