<section class="index-second-sec">
  <div class="upper-con intersect-items">
    <ul>
      <li>
        <img
          src="./images/index/secondSection/flower-tulip-svgrepo-com.svg"
          alt="flower-logo"
        />
        <div>
          <span>Fresh Flowers</span>
          <p>Handpicked daily</p>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/delivery-fast-svgrepo-com.svg"
          alt="truck-logo"
        />
        <div>
          <span>Free Delivery</span>
          <p>On orders over $50</p>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/secure-payment-fill-svgrepo-com.svg"
          alt="secure-payment-logo"
        />
        <div>
          <span>Secure Payment</span>
          <p>100% secure checkout</p>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/time-twenty-four-svgrepo-com.svg"
          alt="time-logo"
        />
        <div>
          <span>Support 24/7</span>
          <p>We're here to help</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="lower-con intersect-items">
    <h3>Featured Bouquets</h3>
    <a href="#" class="view-all-btn">View All Bouquets →</a>
    <ul>
      <li>
        <img src="./images/index/secondSection/red-rose.webp" alt="bouquet-1" />
        <div>
          <small>Best Seller</small>
          <span>Romantic Roses</span>
          <p>Classic red roses</p>
          <div class="price-btn-con">
            <span class="price">$49<small>.99</small></span>
            <button aria-label="Add to cart" class="add-to-cart-btn">
              <i class="fa-solid fa-cart-shopping"></i>
              Add to Cart →
            </button>
          </div>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/pink-dream.webp"
          alt="bouquet-2"
        />
        <div>
          <small>Best Seller</small>
          <span>Pink Dream</span>
          <p>Pink lilies and roses</p>
          <div class="price-btn-con">
            <span class="price">$49<small>.99</small></span>
            <button aria-label="Add to cart" class="add-to-cart-btn">
              <i class="fa-solid fa-cart-shopping cart-icon"></i>
              Add to Cart →
            </button>
          </div>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/purple-elegance.webp"
          alt="bouquet-3"
        />
        <div>
          <small>Best Seller</small>
          <span>Purple Elegance</span>
          <p>Grace, charm and loyalty</p>
          <div class="price-btn-con">
            <span class="price">$49<small>.99</small></span>
            <button aria-label="Add to cart" class="add-to-cart-btn">
              <i class="fa-solid fa-cart-shopping cart-icon"></i>
              Add to Cart →
            </button>
          </div>
        </div>
      </li>
      <li>
        <img
          src="./images/index/secondSection/garden-bliss.webp"
          alt="bouquet-4"
        />
        <div>
          <small>Best Seller</small>
          <span>Garden Bliss</span>
          <p>Fresh, soft and enchanting</p>
          <div class="price-btn-con">
            <span class="price">$49<small>.99</small></span>
            <button aria-label="Add to cart" class="add-to-cart-btn">
              <i class="fa-solid fa-cart-shopping cart-icon"></i>
              Add to Cart →
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
