<section class="index-third-sec">
  <div class="third-sec-con intersect-items">
    <div class="third-upper-con">
      <img
        src="./images/index/thirdSection/flower-2-svgrepo-com.svg"
        alt="flower-bouquet"
      />
      <span>Shop By</span>
    </div>
    <div class="third-lower-con">
      <h3>Occasion</h3>
      <img src="./images/index/thirdSection/spring-bloom.webp" alt="spring" />
    </div>
    <p>Find the perfect bouquet for every special occasion.</p>
  </div>
  <div class="lower-third-sec-con intersect-items">
    <a href="/shop.html" class="view-all-btn">View All Bouquets →</a>
    <ul class="occasion-list"></ul>
  </div>
</section>
