<section class="index-fourth-sec">
  <div class="fourth-sec-con intersect-items">
    <div class="fourth-upper-con">
      <img
        src="./images/index/fourthSection/flowers-floral-design.svg"
        alt="divider-image"
      />
    </div>
    <span>Why choose us?</span>
    <h3>Your <span>Happiness</span>, Our Promise</h3>
    <div class="fourth-lower-con">
      <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
    </div>
    <p>We go the extra mile to make every moment beautiful.</p>
  </div>
  <ul class="why-us-list intersect-items"></ul>
</section>
