<section class="index-third-sec">
  <div class="third-upper-con">
    <img
      src="./images/index/thirdSection/flower-2-svgrepo-com.svg"
      alt="flower-bouquet"
    />
    <span>Shop By</span>
  </div>
  <div class="third-lower-con">
    <h3>Occasion</h3>
    <img src="./images/index/thirdSection/spring-bloom.png" alt="spring" />
  </div>
  <p>Find the perfect bouquet for every special occasion.</p>
  <ul class="occasion-list">
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/thirdSection/tulip-delight.png"
          alt="bouquet 1"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/birthday.png"
          alt="birthday"
          class="round-images"
        />
      </div>
      <span>Birthday</span>
      <p>Make their day extra special</p>
    </li>
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/secondSection/red-rose.png"
          alt="bouquet 2"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/anniversary.png"
          alt="anniversary"
          class="round-images"
        />
      </div>
      <span>Anniversary</span>
      <p>Celebrate your love story</p>
    </li>
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/thirdSection/classic-white.png"
          alt="bouquet 3"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/wedding.png"
          alt="wedding"
          class="round-images"
        />
      </div>
      <span>Wedding</span>
      <p>For your beautiful day</p>
    </li>
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/thirdSection/snowflake.png"
          alt="bouquet 4"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/sympathy.png"
          alt="sympathy"
          class="round-images"
        />
      </div>
      <span>Sympathy</span>
      <p>With deepest condolences</p>
    </li>
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/thirdSection/sweetheart.png"
          alt="bouquet 5"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/mother-day.png"
          alt="mother's day"
          class="round-images"
        />
      </div>
      <span>Mother's Day</span>
      <p>Honoring the best</p>
    </li>
    <li>
      <div class="image-wrapper">
        <img
          src="./images/index/thirdSection/soft-pastel.png"
          alt="bouquet 6"
          class="bouquet-img"
        />
        <img
          src="./images/index/thirdSection/graduation.png"
          alt="graduation"
          class="round-images"
        />
      </div>
      <span>Graduation</span>
      <p>Celebrate their achievement</p>
    </li>
  </ul>
</section>
