.index-second-sec {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
.upper-con {
    width: 100%;
}
.upper-con ul {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center; 
    gap: 1rem;
    border-bottom: 1px solid #e2ded5;
    align-items: stretch;
}
.upper-con ul li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.upper-con ul li img {
    width: clamp(50px, 5vw, 90px);
}
.upper-con ul li div {
    display: flex;
    flex-direction: column;
}
.upper-con ul li div span {
    font-weight: 600;
    font-size: clamp(1rem, 1.3vw, 1.6rem);
}
/*lower container*/
.lower-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lower-con h3 {
    font-size: clamp(2rem, 3vw, 3rem);
    padding: 2rem 0 3rem 0;
}
.lower-con ul {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}
.lower-con ul li {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 8px 24px rgba(0,0,0,.08);
}
.lower-con ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    gap: 10px;
}
.lower-con ul li div span {
    font-size: clamp(1rem, 1.3vw, 1.5rem);
}
.lower-con ul li div span:first-child {
    font-weight: 900;
}
.lower-con ul li div span:last-child {
    font-weight: 700;
}
@media only screen and (max-width: 640px) {
    .index-second-sec {
        height: auto;
    }
    .upper-con ul {
        justify-content: flex-start;
        grid-template-columns: 1fr;
    }
    .upper-con ul li {
        width: 100%;
        gap: 32px;
        justify-content: flex-start;
    }
    .upper-con ul li div {
        flex-direction: row;
        flex-grow: 1;
        gap: 24px;
        align-items: center;
    }
    .upper-con ul li div span {
        width: 30%;
    }
    .upper-con ul li div p {
        width: 65%;
    }
}
@media (min-width: 541px) and (max-width: 640px) {
    .upper-con ul {
        justify-content: flex-start;
        grid-template-columns: repeat(2, auto);
    }
}

