<section class="index-first-sec">
  <h2 class="sec-title">
    <span>Fresh Flowers</span><span>For Every Moment</span>
  </h2>
  <p>Handcrafted bouquets made with love and delivered with care.</p>
  <button type="button" class="shop-now-btn">Shop Now</button>
  <img
    src="./images/index/firstSection/banner.webp"
    alt="banner-image"
    class="desktop-banner"
  />
  <img
    src="./images/index/firstSection/mobile-banner.webp"
    alt="banner-image"
    class="mobile-banner"
  />
</section>
