<section class="index-fourth-sec">
  <div class="fourth-sec-con">
    <div class="fourth-upper-con">
      <img
        src="./images/index/fourthSection/flowers-floral-design.svg"
        alt="divider-image"
      />
    </div>
    <span>Why choose us?</span>
    <h3>Your <span>Happiness</span>, Our Promise</h3>
    <div class="fourth-lower-con">
      <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
    </div>
    <p>We go the extra mile to make every moment beautiful.</p>
  </div>
  <ul class="why-us-list">
    <li>
      <img
        src="./images/index/fourthSection/rose.webp"
        alt="rose-logo"
        class="why-us-icon"
      />
      <span>Fresh & Premium Flower</span>
      <div class="heart-con">
        <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
      </div>
      <p>Hand picked daily for maximum freshness and beauty.</p>
    </li>
    <li>
      <img
        src="./images/index/fourthSection/flower.webp"
        alt="flower-logo"
        class="why-us-icon"
      />
      <span>Handcrafted With Love</span>
      <div class="heart-con">
        <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
      </div>
      <p>Expertly arranged by our passionate florists.</p>
    </li>
    <li>
      <img
        src="./images/index/fourthSection/delivery.webp"
        alt="delivery-logo"
        class="why-us-icon"
      />
      <span>Same-Day Delivery</span>
      <div class="heart-con">
        <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
      </div>
      <p>Fast and reliable delivery right to your doorstep.</p>
    </li>
    <li>
      <img
        src="./images/index/fourthSection/ribbon.webp"
        alt="ribbon-logo"
        class="why-us-icon"
      />
      <span>100% Happiness Guarantee</span>
      <div class="heart-con">
        <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
      </div>
      <p>Your satisfaction is our top priority.</p>
    </li>
    <li>
      <img
        src="./images/index/fourthSection/gift.webp"
        alt="gift-logo"
        class="why-us-icon"
      />
      <span>Thoughtful Packaging</span>
      <div class="heart-con">
        <img src="./images/index/fourthSection/heart.svg" alt="heart-image" />
      </div>
      <p>Beautifully packaged to make every gift special.</p>
    </li>
  </ul>
</section>
